# media
*.mp4
*.mov
*.avi


# python
__pycache__/
*.py[cod]
*.pyc
*$py.class
.python-version


# vim
.vimrc
.lvimrc
.*.sw[a-z]
*.un~
Session.vim

# cache
.cache
.tmp
.idea

# mkdocs
site/

# vscode
.vscode/

# pytest
.pytest_cache/
